<!DOCTYPE html>
<html>
<footer>
	<h1>푸터영역</h1>
	<div class="wrap view-size">
		<section id="footer-top">
			<div class="wrap">
				<h1>푸터상단-링크</h1>
				<ul class="flex">
					<li>
						<a href="#">매장안내</a>
					</li>
					<li>
						<a href="#">이용약관</a>
					</li>
					<li>
						<a href="#" style="font-weight: bold;">개인정보처리방침</a>
					</li>
				</ul>
			</div>
		</section>
		
		<section id="footer-middle">
			<h1>푸터중간-회사소개</h1>
			<div class="wrap flex">
				<h1>회사정보</h1>
				<div class="md-1">
					<img class="logo" src="/images/logo.png">
					<p>노원통상(주) / 대표자 : 박하애</p>
					<p>주소 : 서울 노원구 상계로54 84 노원빌딩 / 대표전화 : 1234-0000</p>
					<p>통신판매업 신고번호 : 2023-서울노원-1111</p>
				</div>
				<div class="md-2">
					<p>
						<span>사업자등록번호 101-11-01101</span>
						<a href="#">사업자 정보확인</a>
					</p>
					<p>
						<span>채무지급보증안내</span>
						<a href="#">서비스가입사실확인</a>
					</p>
				</div>
				<div class="md-3">
					<h1>고객센터&회사위치</h1>
					<p class="number">고객센터 1600-1111</p>
					<p>상담업무시간 | 전화상담 : 10:00~17:30 / 전화상담 외 : 09:00 ~ 17:30		</p>
					<p>점심시간 : 12:00~13:00 (주말 및 공휴일 휴무)</p>
					<p>반품 주소지 : 경기도 안성시 미양면 양변길 42-4 신성통상(주) 온라인물류센터</p>
					<p>지하 1층 반품팀</p>
					<p>E-mail 주소 : topten10mallcs@ssts.co.kr</p>
					<p>Fax 번호 : 070-5176-8407</p>
				</div>
			</div>
		</section>
		
		<section id="footer-under">
			<h1>푸터하단-SNS</h1>
			<div class="wrap">
				<p>© 2018 TOPTEN MALL. ALL RIGHTS RESERVED</p>
			</div>
		</section>
		
	</div>
</footer>