@charset "UTF-8";
#item-detail .tit{
	font-size: 20px; font-weight: bold;
	padding: 0;
	margin-bottom: 20px;
}
#item-detail .detail-wrap .detail-list{
	width: 800px;
}
#item-detail .detail-wrap .detail-list .tyt td,
#item-detail .detail-wrap .detail-list .img-tit td{
	padding: 10px 0;
	margin: 10px 0;
	text-align: center;
	font-weight: bold;
}
#item-detail .detail-wrap .detail-list .tyt{
	border-bottom: 1px solid #222;
}
#item-detail .detail-wrap .detail-list .img-tit{
	border-bottom: 1px solid #222;
}
#item-detail .detail-wrap .detail-list .item-list td,
#item-detail .detail-wrap .detail-list .img-list td{
	text-align: center;
	padding: 10px 0;
	margin: 10px 0;
}
.edit-btn{
	border: 0;
	border-bottom: 1px solid #a8a8a8;
	background-color: #fff;
	font-size: 15px;
	font-weight: 600;
	
}

