<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{ layout/layout1 :: layout( ~{this::head} , ~{this::main} ) }">
<head>
	<link rel="stylesheet" href="/css/item/catelist.css">
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" th:inline="javascript">
		//*
		$(function(){
			var cate1 = $('input[name=cate1]').val(); 
			getCategory(cate1)
			//restBoardList(cate1);
		})
		//*/
		//* 
		function getCategory(cate1){
			$.get(
					"/common/category/"+cate1,
					function(resultHtml){
						$("#category").html(resultHtml);
					}
			)
			
		}
		//*/
        
	</script>
</head>
<main>
	<div class="view-size">
		<h1>카테고리별 상품 리스트 페이지</h1>
		<section id="item_category">
			<h1>종류별 카테고리 목록</h1>
			<div class="cate-wrap">
				<input type="hidden" name="cate1" th:value="${cate1}">
				<div id="category" class="flex center">
				</div>
				
			</div>
			
		</section>
		
		<section id="item_list">
			<h1>상품 리스트</h1>
			<div class="wrap">
				<div class="flex item-wrap">
					<ul th:each="dto : ${itemlist}">
						<li>
							<div> <!-- 상품이미지 -->
								<a th:href="|/category/detail/${dto.no}|">
									<img alt="상품이미지" th:src="${dto.url}" width="284px" height="375px">
								</a>
							</div>
							<a th:href="|/category/detail/${dto.no}|"> <!-- 상품정보 -->
								<div>
									<p th:text="${dto.title}"></p>
									<div>
										<strong th:text="${dto.price}"></strong>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
				
				<!-- 페이징 -->
				<div th:unless="${#lists.isEmpty(itemlist)}" class="flex page-wrap">
					<div th:if="${pd.from gt 1}">
						<a  th:href="|/category/${cname}?page=${pd.from-1}|" >&lt;</a>
					</div>
					<div>
						<span th:each="page : ${#numbers.sequence(pd.from,pd.to)}">
							<a th:href="|/category/${cname}?page=${page}|" th:text="${page}">페이지번호</a>
						</span>
					</div>
					<div th:if="${pd.to lt pd.tot}">
						<a  th:href="|/category/${cname}=${pd.to+1}|" >&gt;</a>
					</div>
				</div>
				
			</div>
		</section>
	</div>
</main>
</html>