<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{ layout/layout1 :: layout( ~{this::head} , ~{this::main} ) }"
	 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link rel="stylesheet" href="/css/item/cateitemdetail.css">
	<!-- ajax -->
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<script type="text/javascript">
		//장바구니 추가 비동기
		$(function(){
			
		});
		function btnClick(){
			var itemNo = $("#itemNo").val();
			  var amount = $(".numBox").val();
			   
			  var token = $("meta[name='_csrf']").attr("content");
			  var header = $("meta[name='_csrf_header']").attr("content");
			  
			  //*
			  var data = {
			 	itemNo : itemNo,
			 	amount : amount
			    }; //data
			    
			  console.log("itemNo: "+ itemNo);
			  console.log("amount: "+ amount);
			  
			  $.ajax({
				beforeSend:function(xhr) {//csrf적용시 
					xhr.setRequestHeader(header, token); 
					},
			   	url : "/carts/add",
			   	type : "POST",
			   	data : data,
			   	success : function(){
			    	alert("장바구니에 추가되었습니다.");
			    	console.log("장바구니 담기 성공");
			   	},
			   	error : function(){
			    	alert("카트 담기 실패");
			   	}
			  });//ajax
		}
			

	</script>
</head>
<main>
	<div class="view-size flex center">
		<h1>관리자페이지-상품목록</h1>
		<section id="item-detail">
			<div class="wrap">
				<div class="itemdetail-wrap flex between"> <!-- 상세보기 -->
					<div class="item-detail"> <!-- 아이템 상세보기 -->
						<div class="item-images"> <!-- 상단이미지 -->
							<div class="flex center">
								<div> <!-- 상단이미지 -->
									<img alt="상품이미지1" th:src="${itemdetail.url}" width="384px;" height="523px;">
									<!-- <img alt="상품이미지2" th:src="${itemdetail.url}" width="384px;" height="523px;"> 2번째 이미지 가져오기-->
								</div>
							</div>
						</div>
						<div class="detail-wrap flex center">
							<div class="content-detail"> <!-- 상세내용 -->
								<div> <!-- 메뉴 -->
								</div>
								
								<div class="den"> <!-- 주의사항 -->
									<p>주문시 유의사항</p>
									<p>구매 이후에는 <b>옵션변경/주소변경/주문취소 불가</b>하오니 참고하시어 신중한 구매 부탁드립니다.</p>
									<p>교환상품은 당사로 입고된 후, 진행되므로 그 사이에 <b>재고가 소진 될 경우, 상품이 품절</b> 될 수 있습니다.</p>
									<p>이 경우에는 교환이 불가하며, 환불로 처리 진행됩니다.</p>
								</div>
								
								<div class="tit-wrap">
									<p class="item-tit">상품정보</p>
								</div>
								
								<div th:each="dto : ${itemimagelist}" class="flex center"> <!-- 상품정보 -->
									<!-- 상품이미지리스트 -->
									<img alt="상품정보이미지" th:src="${dto.url}" width="512px;" height="698px;" style="margin-bottom: 50px;">
								</div>
								
								<div> <!-- 사이즈정보 -->
								</div>
							</div>
						</div>
					</div>
					<div class="item-sidebar"> <!-- 결제 사이드 바 -->
						<p>결제하기</p>
						<div class="tit-wrap"> <!-- 상품명 -->
							<input id="itemNo" name="itemNo" type="hidden" th:value="${itemdetail.no}">
							<p th:text="${itemdetail.title}" class="tit"></p>
							<p th:text="${itemdetail.content}"></p>
						</div>
						<div class="price-wrap"> <!-- 가격 -->
							<span id="pay-amount" th:text="${#numbers.formatInteger(itemdetail.price, 3, 'COMMA')}+원"></span>
						</div>
						<div class="color-wrap"> <!-- 컬러 -->
							
						</div> 
						<div class="size-wrap"> <!-- 사이즈 -->
						</div>
						<div class="cart-wrap"> <!-- 장바구니 -->
							<input class="numBox" type="number" value="1" style="max-width: 3rem">
								<input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
								<button type="button" class="cart-btn" onclick="btnClick()">장바구니</button>
						</div>
					</div>
				
				</div>
				<div class="review"> <!-- 상품평 -->
				</div>
				<div class="QnA"> <!-- 상품문의 -->
				</div>
				<div class=""> <!-- 고시정보 -->
				</div>
				<div class=""> <!-- 배송정보 -->
				</div>
				
			</div>
		</section>
	</div>
</main>
</html>